.header{
  font-family: 'Raleway_Bold';
  font-size: 1.7em;
  height: 5em;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > .name{
  position: relative;
}

.header > .name::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 150%;
  height: 2px;
  background: black;
}