.recipents-container{
  margin-top: 4em;
  min-width: 60%;
}

.recipents-container > .title{
  margin: 1em;
  font-size: 1.2em;
}

.recipents-container .number{
  border-bottom: 1px solid #aaa;
  padding: .1em 0em;
  margin: .1em 1em;
  font-size: 1.2em;
}

.recipents-container .recipents{
  overflow-y: scroll;
  height: 25em;
}

.recipents::-webkit-scrollbar {
  width: .2em;
}
.recipents::-webkit-scrollbar-track {
  background: white;
}
.recipents::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}